<div class="parallax-container">
  <div class="parallax">
    <img src="http://lorempixel.com/960/720/abstract/2" alt="">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where blah blah blah</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="http://lorempixel.com/960/720/abstract/3" alt="">
  </div>
</div>
