<div class="section orange lighten-4">
  <div class="container">
    <h1 class="header">FreeStuff</h1>
    <div class="row center">
      <h4 class="header col s12 light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis blandit turpis vitae gravida. Duis faucibus nulla nec congue euismod.</h4>
    </div>
  </div>
</div>
<div class="">
  <p></p><!-- spacer add CSS later -->
</div>
<div class="container">
  <div class="row">
    <div class="col m4">
      <!-- promo content 1 -->
      <div class="center">
        <i class="large material-icons">loop</i>
        <h5>Recycle</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis blandit turpis vitae gravida.</p>
      </div>
    </div>
    <div class="col m4">
      <!-- promo content 1 -->
      <div class="center">
        <i class="large material-icons">swap_horiz</i>
        <h5>Swap</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis blandit turpis vitae gravida. </p>
      </div>
    </div>
    <div class="col m4">
      <!-- promo content 1 -->
      <div class="center">
        <i class="large material-icons">comment</i>
        <h5>Placeholder</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis blandit turpis vitae gravida. </p>
      </div>
    </div>
  </div>
</div>
