<div class="container">
  <h2><%=@product.name%></h2>
  <div class="row">
    <div class="col s7">
      <img src="<%=@product.image.url(:medium)%>" class="materialboxed">
    </div>
    <div class="col s5">
      <div class="card-panel teal center-align">
        <span class="white-text">Send a message to the seller!</span>
        <p><%=link_to "Message", {:controller => "messages", :action=> "new", :product => @product.id}, :class => "btn waves-light light-blue" %></p>      
      </div>
    </div>
  </div>
  <div class="row">
    <div class="divider"></div>
      <div class="section">
        <h4>Description</h4>
        <p><%=@product.description%></p>
      </div>
  </div>
</div>
